#nav-bar {
  /* position: relative; */
  position: fixed;
  top: 0px;
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  height: 8rem;
  width: 100vw;
  padding: 0 2em;
}

#nav-bar .logo {
  height: 8rem;
  width: 8rem;
  margin-right: 1rem;
}
#nav-bar .header {
  font-size: 3.2rem;
}

#nav-bar .compose__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8fdff;
  color: #00a087;
  font-size: 3rem;
  font-style: bold;
  border-radius: 1rem;
  margin-left: auto;
  border: 1px solid black;
  padding: 1rem;
}

.compose__box .compose__btn {
  background: transparent;
  border: none;
  outline: none;
}
.compose__box:hover > button,
.compose__box:hover svg {
  color: #00a087;
  fill: #00a087;
  cursor: pointer;
}
.compose__box .tweet__icon--compose {
  height: 30px;
  width: 30px;
}
