.container .new-tweet {
  border: 1px solid black;
  height: 19rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eee;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .hidden {
  visibility: hidden;
} */
.visible {
  visibility: visible;
}
/* .container .new__tweet {
  visibility: hidden;
} */

/* .new-tweet > * {
  border: 1px solid red;
} */
.new-tweet > h2 {
  border-bottom: 1.5px solid black;
  font-size: 3rem;
}
.new-tweet > form > textarea {
  height: 7rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 2px;
  outline: none;
}
.form__footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0.4rem 0;
  font-size: 1.7rem;
}

.form__footer > input {
  padding: 0.3rem 0.5rem;
  font-size: 1.7rem;
}
.form__footer > span {
  padding: 0.3rem 0.5rem;
  font-style: italic;
  margin-left: auto;
}
.form__footer > p {
  font-size: 2rem;
  margin-left: 1rem;
}
.invalid {
  color: tomato;
}

/* styles for single tweets */

.tweet {
  /* border: 1px solid black; */
  height: 19rem;
  /* padding: 1rem; */
  /* border-radius: 1rem; */
  /* background-color: #eee; */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweet header {
  border: 1px solid black;
  border-bottom: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #eee;
}
.tweet header img {
  border: 1px solid black;
  border-radius: 1rem;
  height: 5rem;
  width: 5rem;
  /* padding: 1rem; */
  margin-left: 1rem;
}
.tweet .user__name {
  font-size: 2.5rem;
  margin-left: 1rem;
  align-self: flex-start;
  padding-top: 0.5rem;
}

.tweet .user__handle {
  font-size: 1.7rem;
  margin-left: auto;
  padding: 1rem;
  align-self: flex-start;
  padding-top: 0.5rem;
}

.tweet__body {
  height: 10rem;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 2rem;
  overflow: scroll;
  overflow-wrap: break-word;
}

.tweet footer {
  border: 1px solid black;
  height: 3rem;
  border-radius: 0 0 1rem 1rem;
  border-top: none;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
}

.tweet:hover .icons__box {
  visibility: visible;
}

.tweet__icon-box svg {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}
